.footer {
  width: 100%;

  padding: 2rem 8%;

  display: flex;
  align-items: center;
  justify-content: center;

  // background: rgb(16 21 29 / 1);

  @media (max-width: 795px) {
    border-radius: 2.575rem 2.575rem 0 0;
  }

  .title {
    // text-align: center;

    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
  }
}
