*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-decoration: none;
}

* {
  &::selection {
    color: #fff;
    background: #5340ff;
  }

  &::-moz-selection {
    color: #fff;
    background: #5340ff;
  }

  &::-webkit-selection {
    color: #fff;
    background: #5340ff;
  }
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  min-width: 350px;

  &.modal_open {
    -webkit-overflow-scrolling: touch;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  background: #0d1117;
  // background: rgb(16 21 29 / 1);

  color: #ffffff;

  &.modal_open {
    overflow: hidden;
  }
}
