.page_wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 1300px;

  margin: 4.28rem auto;
  padding: 0.85rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;

  @media (max-width: 875px) {
    font-size: 1.85rem;
  }

  .span {
    display: flex;
    align-items: center;
    gap: 0.55rem;

    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff9d;

    cursor: pointer;
  }
}
