.page_wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;

  margin: 4.28rem auto;
  padding: 0.85rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .hero {
    width: 100%;
    min-height: 580px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    @media (max-width: 675px) {
      min-height: 360px;
    }

    .title {
      font-size: 5.875rem;
      font-weight: 600;
      color: #ffffff;

      @media (max-width: 1205px) {
        font-size: 4.875rem;
      }

      @media (max-width: 875px) {
        font-size: 3.875rem;
      }

      @media (max-width: 675px) {
        font-size: 3.445rem;
      }

      @media (max-width: 515px) {
        font-size: 3.005rem;
      }
    }

    .large_title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      font-size: 380px;
      font-weight: 800;
      color: transparent;
      -webkit-text-stroke: 0.8px #ffffff18;

      @media (max-width: 1365px) {
        font-size: 285px;
      }

      @media (max-width: 1205px) {
        font-size: 205px;
      }

      @media (max-width: 875px) {
        font-size: 165px;
      }

      @media (max-width: 675px) {
        font-size: 125px;
      }

      @media (max-width: 515px) {
        font-size: 105px;
      }

      @media (max-width: 425px) {
        font-size: 90px;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;

    .projects {
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2.875rem;

      animation: scrollAnimation 45s linear infinite;

      .project_container {
        width: 100%;
        height: 500px;
        max-width: 550px;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        gap: 0.85rem;

        position: relative;

        border: 0.8px solid #ffffff16;
        border-radius: 1.4rem;

        transition: 0.25s;

        @media (max-width: 675px) {
          &:after {
            content: "";

            width: 100%;
            height: 100%;

            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;

            background: linear-gradient(#0d111728, #0d1117);
          }
        }

        @media (min-width: 675px) {
          &:hover {
            &:after {
              content: "";

              width: 100%;
              height: 100%;

              position: absolute;
              left: 0;
              top: 0;
              z-index: 5;

              background: linear-gradient(#0d111728, #0d1117);
            }

            .info,
            .icons {
              opacity: 1;
              visibility: visible;

              transform: translateY(0);
            }
          }
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 0.45rem;

          padding: 0.85rem;
          margin-left: auto;

          position: absolute;
          left: 0;
          top: 0;
          z-index: 8;

          transition: 0.25s;

          @media (min-width: 675px) {
            opacity: 0;
            visibility: hidden;

            transform: translateY(90px);
          }

          .icon_container {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0.25rem;

            border-radius: 50%;

            transition: 0.25s;

            &:hover {
              background: #ffffff13;
            }

            &:active {
              background: #ffffff22;
            }

            .icon {
              font-size: 1.8rem;
            }
          }
        }

        .cover {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }

        .info {
          padding: 0.85rem;

          @media (min-width: 675px) {
            opacity: 0;
            visibility: hidden;

            transform: translateY(90px);
          }

          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 8;

          display: flex;
          flex-direction: column;
          gap: 0.85rem;

          transition: 0.25s, transform 0.55s;

          .text {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            line-height: 1.5;

            .title {
              font-size: 1.875rem;
              font-weight: 500;
              color: #ffffff;

              @media (max-width: 875px) {
                font-size: 1.655rem;
              }
            }

            .desc {
              font-size: 0.875rem;
              font-weight: 400;
              color: rgba(235, 245, 255, 0.5);

              @media (max-width: 875px) {
                font-size: 0.765rem;
              }
            }
          }

          .tags {
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.65rem;
          }
        }
      }
    }
  }
}
