.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  .title {
    text-align: center;

    font-size: 3.075rem;
    font-weight: 500;
    color: #fff;

    @media (max-width: 875px) {
      font-size: 2.075rem;
    }

    @media (max-width: 475px) {
      font-size: 1.875rem;
    }
  }

  .skills {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.65rem;

    @media (max-width: 875px) {
      gap: 0.45rem;
    }

    .icon {
      padding: 0.25rem;

      border-radius: 0.25rem;

      font-size: 1.6rem;

      @media (max-width: 875px) {
        font-size: 1.475rem;
      }
    }
  }

  .button_wrapper {
    max-width: 120px;
  }
}
