.page_wrapper {
  width: 100%;
  height: 90%;

  max-width: 1200px;

  margin: 0 auto;
  padding: 0 0.85rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;

  .banner {
    width: 100%;
    height: 100%;

    background: url("https://wallpapercave.com/wp/wp9621230.jpg") center/cover
      no-repeat;
    border-radius: 0.875rem;

    @media (max-width: 885px) {
      display: none;
    }
  }

  .content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
