*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-decoration: none;
}

* {
  &::selection {
    color: #fff;
    background: rgba(35, 130, 226, 0.822);
  }

  &::-moz-selection {
    color: #fff;
    background: rgba(35, 130, 226, 0.822);
  }

  &::-webkit-selection {
    color: #fff;
    background: rgba(35, 130, 226, 0.822);
  }
}

:root {
  --swiper-pagination-color: #ffffff;
  --bg-main: #0c0c0c;
  --badge-blue-bg: #3b88e925;
  --badge-blue-color: #3b88e9;
  --accent-1: #111;
  --accent-2: #333;
  --accents-3: #444;
  --accent-4: #666;
  --accent-5: #888;
  --accent-6: #999;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
  --br-color: #1d1d1f;
  --text-gradient: linear-gradient(180deg, #fff, #adadad);
}

html,
body {
  width: 100vw;
  height: 100vh;

  min-width: 350px;

  &.disabled {
    -webkit-overflow-scrolling: touch;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  background: var(--bg-main);

  color: #fff;

  &.disabled {
    overflow: hidden;
  }

  .space {
    width: 100%;
    height: 4.15rem;

    @media (max-width: 1205px) {
      height: 3.75rem;
    }

    @media (max-width: 675px) {
      height: 3.5rem;
    }
  }
}
