*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-decoration: none;
}

* {
  &::selection {
    color: #fff;
    background: rgba(35, 130, 226, 0.822);
  }

  &::-moz-selection {
    color: #fff;
    background: rgba(35, 130, 226, 0.822);
  }

  &::-webkit-selection {
    color: #fff;
    background: rgba(35, 130, 226, 0.822);
  }
}

:root {
  --swiper-pagination-color: #ffffff;
  --bg-main: #0c0c0c;
  --badge-blue-bg: #3b88e925;
  --badge-blue-color: #3b88e9;
  --accent-1: #111;
  --accent-2: #333;
  --accents-3: #444;
  --accent-4: #666;
  --accent-5: #888;
  --accent-6: #999;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
  --br-color: #1d1d1f;
  --text-gradient: linear-gradient(180deg, #fff, #adadad);
}

html,
body {
  width: 100vw;
  height: 100vh;

  min-width: 350px;

  &.disabled {
    -webkit-overflow-scrolling: touch;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--bg-main);

  color: #fff;

  &.disabled {
    overflow: hidden;
  }

  .space {
    width: 100%;
    height: 4.6rem;

    @media (max-width: 1205px) {
      height: 4.35rem;
    }

    @media (max-width: 945px) {
      height: 3.75rem;
    }

    @media (max-width: 875px) {
      height: 3.77rem;
    }

    @media (max-width: 675px) {
      height: 3.5rem;
    }
  }

  .editor {
    width: 100%;
    height: 100%;

    outline: 0;
  }

  .editor_image {
    width: 100%;

    max-width: 180px;

    display: block;

    margin: 0.55rem 0;

    border-radius: 0.265rem;
    filter: grayscale(20%);
  }

  .hljs-bullet {
    color: var(--accent-5);
  }

  .tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;

    font-size: 1rem;
    font-weight: 300;
    color: var(--accent-4);
  }
}
