@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    border-radius: 50%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.page_wrapper {
  width: 100%;
  height: 100%;

  max-width: 1300px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.85rem;

    text-align: center;

    .title {
      font-size: 3.625rem;
      font-weight: 700;
      color: var(--accent-8);

      @media (max-width: 1205px) {
        font-size: 3.375rem;
      }

      @media (max-width: 875px) {
        font-size: 2.875rem;
      }

      @media (max-width: 675px) {
        font-size: 2.245rem;
      }

      @media (max-width: 555px) {
        font-size: 2.05rem;
      }

      @media (max-width: 505px) {
        font-size: 1.875rem;
      }

      @media (max-width: 475px) {
        font-size: 1.405rem;
      }

      @media (max-width: 368px) {
        font-size: 1.205rem;
      }
    }

    .desc {
      line-height: 1.5;

      font-size: 1.2rem;
      font-weight: 300;
      color: var(--accent-5);

      @media (max-width: 1205px) {
        font-size: 1.175rem;
      }

      @media (max-width: 875px) {
        font-size: 1.075rem;
      }

      @media (max-width: 675px) {
        font-size: 1.1rem;
      }

      @media (max-width: 555px) {
        font-size: 1.05rem;
      }

      @media (max-width: 475px) {
        font-size: 0.875rem;
      }
    }

    .link {
      width: 100%;

      max-width: 120px;

      padding: 0.55rem 0.25rem;

      background: var(--accent-1);
      border: 1px solid var(--accent-2);
      border-radius: 0.585rem;

      position: relative;

      @include backlight(0, 0, 18px, 1.15, #f200ff, #4800ff, 5s);

      font-size: 0.875rem;
      font-weight: 500;
      color: var(--accent-8);
    }
  }
}
