.hero {
  width: 100%;
  height: 100%;

  max-width: 1000px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.55rem;

  @media (max-width: 675px) {
    padding: 0 1.15rem;
  }

  .content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.875rem;

    @media (max-width: 1205px) {
      flex-direction: column-reverse;
    }

    .logo {
      width: 200px;
      height: 200px;

      background: var(--bg-main);
      border-radius: 0.875rem;

      @media (max-width: 1205px) {
        width: 180px;
        height: 180px;
      }

      @media (max-width: 875px) {
        width: 150px;
        height: 150px;
      }

      @media (max-width: 675px) {
        width: 130px;
        height: 130px;
      }

      @media (max-width: 555px) {
        width: 100px;
        height: 100px;
      }

      .img {
        width: 100%;
        height: 100%;

        border-radius: 0.875rem;

        object-fit: cover;
      }
    }

    .text {
      width: 100%;

      max-width: 700px;

      display: flex;
      justify-content: center;
      flex-direction: column;

      line-height: 1.5;

      @media (max-width: 1205px) {
        max-width: 100%;

        align-items: center;
      }

      .title {
        font-size: 2.245rem;
        font-weight: 600;

        span {
          background: var(--gradient-1);
          -webkit-background-clip: text;
          text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
        }

        @media (max-width: 1205px) {
          font-size: 2.205rem;
        }

        @media (max-width: 875px) {
          font-size: 1.905rem;
        }

        @media (max-width: 675px) {
          font-size: 1.845rem;
        }

        @media (max-width: 555px) {
          font-size: 1.675rem;
        }

        @media (max-width: 475px) {
          font-size: 1.505rem;
        }
      }

      .desc {
        font-size: 1.1rem;
        font-weight: 300;
        color: var(--accent-5);

        @media (max-width: 1205px) {
          width: 100%;

          max-width: 700px;

          text-align: center;

          font-size: 1.085rem;
        }

        @media (max-width: 875px) {
          max-width: 600px;

          font-size: 0.945rem;
        }

        @media (max-width: 675px) {
          max-width: 400px;

          font-size: 0.875rem;
        }

        @media (max-width: 368px) {
          font-size: 0.795rem;
        }
      }
    }
  }

  .buttons {
    width: 100%;

    max-width: 350px;

    margin-right: auto;

    display: flex;
    align-items: center;
    gap: 0.85rem;

    @media (max-width: 1205px) {
      margin-right: 0;
    }
  }
}
